@{
    ViewData["Title"] = "Criadores";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <style>
        .painel img {
            max-width: 200px;
            /* Define a largura máxima das imagens */
            height: auto;
            /* Mantém a proporção da imagem */
        }
    </style>
</head>

<body>

    <h1>Equipe do Site</h1>

    <div class="painel">
        <img src="https://th.bing.com/th/id/R.0ababdb27dd0bb71f21f03c98b6cd6f1?rik=%2fiVDxahrgNztPA&pid=ImgRaw&r=0"
            alt="Foto do Guilherme Almeida">
        <h2>Guilherme Almeida</h2>
        <p>Cargo: Fundador e CEO</p>
    </div>

    <div class="painel">
        <img src="https://th.bing.com/th/id/R.0ababdb27dd0bb71f21f03c98b6cd6f1?rik=%2fiVDxahrgNztPA&pid=ImgRaw&r=0"
            alt="Foto da Manuela Barbosa">
        <h2>Manuela Barbosa</h2>
        <p>Cargo: Diretor de Tecnologia (CTO)</p>
    </div>

    <div class="painel">
        <img src="https://th.bing.com/th/id/R.0ababdb27dd0bb71f21f03c98b6cd6f1?rik=%2fiVDxahrgNztPA&pid=ImgRaw&r=0"
            alt="Foto do Elton Daniel">
        <h2>Elton Daniel</h2>
        <p>Cargo: Diretor de Marketing</p>
    </div>

    <div class="painel">
        <img src="https://th.bing.com/th/id/R.0ababdb27dd0bb71f21f03c98b6cd6f1?rik=%2fiVDxahrgNztPA&pid=ImgRaw&r=0"
            alt="Foto do Alisson Santos">
        <h2>Alisson Santos</h2>
        <p>Cargo: Diretor de Operações (COO)</p>
    </div>

    <div class="painel">
        <img src="https://th.bing.com/th/id/R.0ababdb27dd0bb71f21f03c98b6cd6f1?rik=%2fiVDxahrgNztPA&pid=ImgRaw&r=0"
            alt="Foto do Henrique Bastos">
        <h2>Henrique Bastos</h2>
        <p>Cargo: Designer Chefe</p>
    </div>



</body>

</html>
