@{
    ViewData["Title"] = "Inicio";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
    <style>
        .capa {
            text-align: center;
            margin-bottom: 20px;
        }

        .capa img {
            width: 100%;
            max-width: 600px;
            /* Define a largura máxima da imagem para evitar esticamento */
        }

        .descricao {
            text-align: justify;
            margin: 0 auto;
            max-width: 800px;
        }
    </style>
</head>

<body>
    <div class="capa">
        <img src="~/images/tecnologia2.jpg"
            alt="Imagem de Capa">
    </div>

    <div class="descricao">
        <p>Bem-vindo ao nosso blog de tecnologia! Aqui você encontrará artigos, tutoriais e notícias sobre as últimas
            tendências e inovações no mundo da tecnologia. Nosso objetivo é compartilhar conhecimento e inspirar a
            comunidade de tecnologia. Fique à vontade para explorar nosso conteúdo e não hesite em nos contatar se tiver
            alguma dúvida ou sugestão.</p>
    </div>

</body>

</html>