@{
    ViewData["Title"] = "Inicio";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
    <style>
        .capa {
            text-align: center;
            margin-bottom: 20px;
        }

        .capa img {
            width: 100%;
            max-width: 600px;
            /* Define a largura máxima da imagem para evitar esticamento */
        }
    </style>
</head>

<body>
    <div class="capa">
        <img src="images/ansible.png" alt="Imagem de Capa">
    </div>


</body>

</html>
