html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.painel {
  border: 2px solid #ccc;
  /* Adiciona borda */
  border-radius: 8px;
  /* Adiciona bordas arredondadas */
  padding: 20px;
  margin: 0 auto 20px;
  /* Centraliza os painéis horizontalmente */
  width: 80%;
  /* Define a largura máxima dos painéis */
  max-width: 600px;
  /* Define a largura máxima dos painéis */
}

.painel img {
  display: block;
  /* Para evitar espaços em branco abaixo das imagens */
  margin: 0 auto 10px;
  /* Centraliza as imagens horizontalmente */
  max-width: 100%;
}

.painel h2 {
  margin-bottom: 5px;
}

.painel p {
  margin-bottom: 0;
}