@{
    ViewData["Title"] = "Cloud";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
    <style>
        .capa {
            text-align: center;
            margin-bottom: 20px;
        }

        .capa img {
            width: 100%;
            max-width: 600px;
            /* Define a largura máxima da imagem para evitar esticamento */
        }
    </style>
</head>

<body>
    <div class="capa">
        <img src="~/images/cloud.jpg" alt="Imagem de Capa">
    </div>

    <article id="article">
        <section id="postagens">
    
            <div class="post">
                <h2>O que é Cloud Computing?</h2>
                <p>Cloud Computing, ou computação em nuvem, é um modelo de computação que permite o acesso a recursos computacionais, como armazenamento, processamento e redes, por meio da internet, sem a necessidade de possuir infraestrutura local.</p>
                <p>Em vez de manter servidores físicos e data centers, os usuários podem alugar recursos conforme necessário de provedores de serviços em nuvem, como Amazon Web Services (AWS), Microsoft Azure e Google Cloud Platform.</p>
                <p>Os benefícios da computação em nuvem incluem escalabilidade sob demanda, flexibilidade, economia de custos, maior eficiência e segurança aprimorada.</p>
            </div>

            <div class="post">
                <h2>Modelos de Serviço de Cloud Computing</h2>
                <p>Existem três principais modelos de serviço em Cloud Computing:</p>
                <ul>
                    <li><strong>Infrastructure as a Service (IaaS)</strong>: Fornece acesso a recursos de infraestrutura, como servidores virtuais, redes e armazenamento, permitindo que os usuários construam e gerenciem sua própria infraestrutura de TI.</li>
                    <li><strong>Platform as a Service (PaaS)</strong>: Oferece uma plataforma de desenvolvimento e implantação completa para desenvolvedores, eliminando a necessidade de gerenciar a infraestrutura subjacente. Os desenvolvedores podem se concentrar apenas no desenvolvimento e na implantação de aplicativos.</li>
                    <li><strong>Software as a Service (SaaS)</strong>: Disponibiliza aplicativos de software pela internet sob demanda, geralmente em um modelo de assinatura. Os usuários podem acessar os aplicativos por meio de um navegador da web ou uma API sem a necessidade de instalar ou manter o software localmente.</li>
                </ul>
            </div>