@{
    ViewData["Title"] = "Conteúdos de Tecnologia";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
    <style>
        .capa {
            text-align: center;
            margin-bottom: 20px;
        }

        .capa img {
            width: 100%;
            max-width: 600px;
            /* Define a largura máxima da imagem para evitar esticamento */
        }
    </style>
</head>

<body>
    <div class="capa">
        <img src="~/images/tecnologia.jpeg" alt="Imagem de Capa">
    </div>

    <article id="article">
        <section id="postagens">
            <div class="post">
                <h2>Explorando Novas Tecnologias</h2>
                <p>Bem-vindo à nossa página de conteúdos de tecnologia! Aqui você encontrará uma série de artigos
                    abrangentes sobre as últimas tendências e inovações no mundo da tecnologia.</p>
                <p>Desde novas linguagens de programação até avanços em inteligência artificial, Internet das Coisas
                    (IoT), blockchain e muito mais, nossa equipe de especialistas está empenhada em fornecer a você
                    informações valiosas e insights sobre as tecnologias que moldarão o futuro.</p>
                <p>Explore nossos artigos abaixo e mergulhe no emocionante mundo da tecnologia!</p>
            </div>
            <!-- Adicione mais posts conforme desejado -->
        </section>

        <aside id="lateral">
            <div class="cont-lateral">
                <h3>Recursos Adicionais</h3>
                <ul>
                    <li><a href="https://www.wired.com/">Wired - Revista de Tecnologia</a></li>
                    <li><a href="https://www.theverge.com/tech">The Verge - Seção de Tecnologia</a></li>
                    <li><a href="https://techcrunch.com/">TechCrunch - Notícias de Tecnologia</a></li>
                </ul>
            </div>
        </aside>
    </article>

    <footer id="rodape">
        Todos os direitos reservados &copy; 2024
    </footer>
</body>

</html>
